.container {
	min-width: 350px;
	max-width: 500px;
	padding: 20px;

	form {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		.field_row {
			display: flex;
			gap: 10px;
		}

		.date_field {
			cursor: pointer;

			input {
				cursor: pointer;
			}
		}

		.mat-datepicker-toggle {
			padding-right: 5px;
		}
	}

	.api-error {
		color: #b00020;
		margin-top: -20px;
		margin-bottom: 12px;
	}

	.buttons {
		text-align: right;

		button {
			margin-left: 10px;
		}
	}
}
