<div class="container">
	@if (loan.id) {
		<h1>Modificar préstamo</h1>
	} @else {
		<h1>Crear préstamo</h1>
	}

	<form>
		<mat-form-field>
			<mat-label>Identificador</mat-label>
			<input
				type="text"
				matInput
				placeholder="Identificador"
				[(ngModel)]="loan.id"
				name="id"
				disabled
			/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Juego</mat-label>
			<mat-select [(ngModel)]="loan.game" name="game" required>
				@for (game of games; track game.id) {
					<mat-option [value]="game">{{ game.title }}</mat-option>
				}
			</mat-select>
			<mat-error>El juego no puede estar vacío</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Cliente</mat-label>
			<mat-select [(ngModel)]="loan.client" name="client" required>
				@for (client of clients; track client.id) {
					<mat-option [value]="client">{{ client.name }}</mat-option>
				}
			</mat-select>
			<mat-error>El cliente no puede estar vacío</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Fecha préstamo</mat-label>
			<input
				type="date"
				matInput
				[(ngModel)]="loan.loanDate"
				name="loanDate"
				required
			/>
			<mat-error>La fecha de préstamo no puede estar vacía</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Fecha devolución</mat-label>
			<input
				type="date"
				matInput
				[(ngModel)]="loan.returnDate"
				name="returnDate"
				required
			/>
			<mat-error>La fecha de devolución no puede estar vacía</mat-error>
		</mat-form-field>
	</form>

	<div class="buttons">
		<button mat-stroked-button (click)="onClose()">Cerrar</button>
		<button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
	</div>
</div>
